.inputContainer {
  display: flex;
  gap: 0.25rem;
}

.propertiesContainer {
  margin-bottom: 0.5rem;
}

.block {
  display: block;
}

.propertyInputContainer {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 0.25rem;
}

.buttonContainer {
  display: flex;
  gap: 0.25rem;
}
