* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

.flex-justify-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sign-in {
  background-color: white;
  /* top and bottom | left and right */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
